body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    font-weight: px;
}

.wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr 0.6fr;
    grid-auto-columns: minmax(100px, auto);
    grid-gap: em;
    font-size: 20px;
}

.section1 {
    background: url(hero-bg-desktop.jpg);
    background-size: cover;
    color: whitesmoke;
}


/*.part1:hover {
    color: orangered;
}*/

.part1 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 0.2em;
    width: 25%;
    height: 200px;
    margin: 2em;
    padding-bottom: 5em;
    padding-left: 8em;
    padding-top: 8em;
    ;
}


/*for h1 at the top*/

.part1>div {
    /*border: solid 1px;*/
    padding: 1em;
    font-size: 32px;
}

.reserve {
    font-size: 100px;
}

.text1 {
    font-size: 32px;
}

.text2>div {
    border: solid;
    font-weight: 500;
}

.section2 {
    width: 80%;
}

.part2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    justify-items: right;
    width: fit-content;
    padding-right: 0em;
    padding-top: -50em;
}

.part2>div {
    /*border: whitesmoke solid;*/
    padding: 0.2em;
    width: 5%;
}


/*The form start*/

.container {
    border-bottom: none;
    padding: 6em;
    text-align: left height
}


/*below is entire form*/

.form-container {
    background: whitesmoke;
    width: 600px;
    height: 700px;
    margin-bottom: -15em;
    margin-top: -95px;
    margin-left: 16em;
    padding: -5em;
    color: black;
    position: absolute;
    position: relative;
    z-index: 2;
}

.form-container>div {
    width: 550px;
    height: 55px;
    margin: 1.5em;
    padding-left: 1em;
    padding-top: 0.7em;
    font-size: 1.6rem;
}

#input1 #input-group {
    width: 400px;
    margin: 4px;
    padding: 0.5em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px;
    outline: none;
    background: transparent;
}

#input2 #input-group {
    width: 400px;
    margin: 5px;
    padding: 0.5em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px;
    outline: none;
    background: transparent;
}

#input3 #input-group {
    width: 300px;
    margin: 5px;
    padding: 0.5em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px;
    outline: none;
    background: transparent;
}

#input4 #input-group {
    width: 300px;
    margin: 5px;
    padding: 0.5em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px;
    outline: none;
    background: transparent;
}

#input5 #input-group {
    width: 450px;
    margin: 5px;
    padding: 0.5em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px;
    outline: none;
    background: transparent;
    text-align: center;
}

.btn .btn-warning {
    background-color: black;
    color: cornsilk;
    width: 450px;
    margin-top: 15px;
    padding: 1.5em;
    font-size: 1.3rem;
}


/*.btn .btn-warning:hover {
    

/* The form end*/

.section3 {
    background: mistyrose;
    width: 80%;
    height: 500px;
    border-end-end-radius: 10rem;
    position: relative;
    /*z-index: 1;*/
}


/*.section3:hover {
    background: rgb(42, 85, 99);
}*/

.inn {
    width: 350px;
}


/*The code below is for the 6*/

.sub-section3 {
    padding: 10em;
    margin-left: 45em;
    width: 40px;
    height: 25px;
}

.sub-section3>div {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border: black solid 0.2px;
    background: brown;
    width: 12rem;
    height: 3px;
    padding: 0.2em;
}

.section4 {
    background: black;
    color: whitesmoke;
    width: 100%;
}

.section4>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(100px, auto);
    padding: 3em;
    justify-items: center;
    align-items: center;
}

.sub-sub-section4:hover {
    color: lawngreen;
}

.btn .btn-warning:hover {
    background: blue;
}

.part1:hover {
    color: orangered;
}


/*.sub-sub-section4:hover {
    color: lawngreen;
}*/

.head3 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}


/*MEDIA QUERIES FOR DESKOP*/


/*@media screen and (max-width: 1440px) and (min-width: 768px) {
    body {
        background: hotpink;*/